.texto{
display: flex;
flex-direction: column;
align-items: center;
margin: 20px;
}

.big{
    font-size: 80px;
    font-weight: 800;
    color: var(--primary-color) !important;
}

.small{
    font-size:40px;
    font-weight: 700;
}

.small2{
    font-size:16px;
    margin-top: 80px;
}

.small3{
    font-size:16px;
    margin-top: 20px;
}

.big_button{
    width: 100%;
}

.big_button:hover{
    width: 100% !important;
    color: var(--primary-color) !important;
    background-color: #fff !important;
}