html{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
.user-profile-card {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #d8d6d3 0%, #FFFFFF  51%, #d8d6d3  100%);
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    max-width: 400px;
    margin: 20px auto;
    height: 100px;
    transition: 0.5s;
    background-size: 200% auto;
    color: white; 
}
  
.user-profile-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
    background-position: right center;
    color: #fff;
    text-decoration: none;
}
  
.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 16px;
}
  
.user-info {
    flex: 1;
}
  
.user-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #333;
}
  
.user-email {
    font-size: 1rem;
    margin: 4px 0 0;
    color: #555;
}
h1{
    text-align: center;
    color: #fff;
}